@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: inherit;
    color: inherit;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: inherit;
    border-right: 1px solid #6b6b6b51;
    height: 100vh;
    width: 40vh;
    background-color: inherit;
    color: inherit;
}

#sidebar_content {
    padding: 12px;
}

#user {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 24px;
}

#user_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 30px;
}

#user_infos {
    display: flex;
    flex-direction: column;
    
}

#user_infos span:last-child {
    color: #6b6b6b;
    font-size: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style-type: none;
}

.side-item {
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.side-item.active {
    background-color: #16587b;
    color: #84b3ce;
}

.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: #e3e9f7;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    
    gap: 14px;
    font-size: 14px;
}

.side-item.active a {
    color: #84b3ce;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn {
    padding: 12px;
    border: none;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
    color: #0e0e0e;
}

#logout_btn_link {
    text-decoration: none;
}

main {
    padding: 40px;
    width: 100%;
    padding-left: 17%;
    padding-right: 17%;
    height: 100%;
    overflow-y: auto;
}

#main_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 800px;
}

#main_title{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 24px;
    color: inherit;
}

.config-frase {
    padding-bottom: 25px;
   
}

.tema {
    display: flex;
    gap: 8px;
    align-items: center;
}

.switch {
    font-size: 12px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    border: 1px solid #333;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.27em;
    bottom: 0.25em;
    background-color: #333;
    transition: .4s;
}

input:checked + .slider {
    background-color: #16587b;
    border: 1px solid #16587b;
}

input:focus + .slider {
    box-shadow: 0 0 1px #16587b;
}

input:checked + .slider:before {
    transform: translateX(1.4em);
    background-color: #fff;
}

.btn-primary {
    background-color: #16587b;
    border-color: #16587b;
}

.btn-primary:hover {
    background-color: #12475f;
    border-color: #12475f;
}

.btn-flutuante {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 55px;
    height: 55px;
    border-radius: 10px;
    background-color: #16587b;
    color: #f5eedd;
    font-size: 28px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.btn-flutuante:hover {
    background-color: #16587bbb;
    color: #f5eedd;
}

.container-lista {
    margin-top: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.moldura {
    margin: 0 auto;
    justify-content: center;
    margin-top: 40px;
    height: 500px;
    width: 50%;
    margin-bottom: 40px;
}

.moldura > img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.separador {
    background-color: #c9c9c9;
    width: 100%;
    height: .5px;
}

.individual {
    text-align: center;
    margin-top: 50px;
    margin-bottom: -25px;
    width: 100%;
    height: 30px;
}

.individual > span {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}