@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    min-height: 100vh;
    background-color: #f5eedd;
}

#sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f5eedd;
    border-right: 1px solid #6b6b6b;
    height: 100vh;
    width: 34vh;
}

#sidebar_content{
    padding: 12px;
}

#user{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 24px;
}

#user_avatar{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 30px;
}

#user_infos{
    display: flex;
    flex-direction: column;
}

#user_infos span:last-child{
    color: #6b6b6b;
    font-size: 12px;
}

#side_items{
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style-type: none;
}

.side-item{
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
}

.side-item.active{
    background-color: #16587b;
    color: #84b3ce;
}

.side-item:hover:not(.active),
#logout_btn:hover{
    background-color: #e3e9f7;
}

.side-item a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #0a0a0a;
    gap: 14px;
    font-size: 14px;
}

.side-item.active a {
    color: #84b3ce;
}

.side-item a i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout{
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn{
    padding: 12px;
    border: none;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

#logout_btn_link{
    text-decoration: none;
}

main{
    padding: 40px;
    width: 100%;
    padding-left: 17%;
    padding-right: 17%;
}

#main_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 800px;
}

#main_title{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 24px;
    color: #0a0a0a;
}

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modal-conteudo {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.modal-conteudo h3 {
    margin-bottom: 15px;
    color: #0a0a0a;
}

.modal-conteudo input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
}

.modal-btn {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.btn-primario {
    background-color: #16587b;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
}

.btn-secundario {
    background-color: transparent;
    color: #6b6b6b;
    border: 1px solid #6b6b6b;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
}

.btn-flutuante {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 55px;
    height: 55px;
    border-radius: 10px;
    background-color: #16587b;
    color: #f5eedd;
    font-size: 28px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.btn-flutuante:hover {
    background-color: #84b3ce;
    color: #16587b;
}

.container-lista {
    margin-top: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.note_item {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.note_item input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.note_item label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    user-select: none;
    padding-left: 32px;
    font-size: 16px;
    color: #0a0a0a;
    border-top: 1px solid gray;
    width: 100%;
    padding-top: 10px;
}

.note_item label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    border: 2px dotted #0e0e0e;
    border-radius: 50%;
    background-color: transparent;
    transition: all 0.2s ease;
    margin-top: 5px;
}

.note_item label::after {
    content: "\f00c";
    font-family: "Font Awesome 6 Free", "Font Awesome 7 Free", "Font Awesome";
    font-weight: 900;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 24px;
    text-align: center;
    font-size: 11px;
    color: #ffffff;
    transform: translateY(-50%) scale(0);
    transition: transform 0.2s ease;
}

.note_item input[type="radio"]:checked + label::before {
    background-color: #16587b;
    border-style: 2px solid #0e0e0e;
}

.note_item input[type="radio"]:checked + label::after {
    transform: translateY(-50%) scale(1);
}
